@tailwind base;
@tailwind components;
@tailwind utilities;

.formbackground {
    background-image: url('../../../assets/profilebackground.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    width: 100%;
    display: flex; 
    flex-direction: column; 
  }
  