@tailwind base;
@tailwind components;
@tailwind utilities;

.home-page{
    background-image: url('../../../assets/background.svg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  width: 100%; 
}     

.home-page-s2{
  background-image: url('../../../assets/background2.svg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  width: 100%; 
}

